.row{
  width: 100%;
  padding: 10px 30px;
}
.d-flex{
  display: flex;
}
.row .col-6{
  width: 50%;
  padding: 20px
}

.hidden-toolbar .ck-sticky-panel__content{
  /* display: none; */
  /* visibility: hidden; */
}

